.container {
  padding: var(--space-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.leftLinks {
  display: flex;
  flex-direction: row;

  & > * {
    margin-right: 30%;
  }
}

.rightLinks {
  display: flex;
  flex-direction: row;
  direction: rtl;

  & > *:nth-child(n + 1) {
    padding-left: 70%;
  }
}

.link {
  text-decoration: none;
}

.iconlink {
  & > * {
    width: 20px;
    height: 20px;
  }
}

.activeLink {
  color: darkgoldenrod;
}
